<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Votes</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{/css/objs.css}">
</head>
<body>
<div class="album py-5 bg-black">
  <div class="container">
    <h2>Your votes</h2>
    <div class="col-md-4" th:each="order : ${orders}">
      <div class="card mb-4 shadow-sm">
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0" th:text="${order.getRestaurant().getName()}">Product name</h6>
              <small class="text-muted">Restaurant</small>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0" th:text="${order.getCreatedTime().toLocalDate()}">Product name</h6>
              <small class="text-muted">Time</small>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>