<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Restaurants</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<!-- Navigation -->
<nav th:insert="restaurants/menu.html :: nav"></nav>
<main class="container">
    <div class="bg-light p-5 rounded mt-3">
        <h1>Restaurant Control</h1>
        <a class="btn btn-primary" href="/restaurants/create" role="button">Create</a>
    </div>
</main>
<div class="album py-5 bg-black">
    <div class="container">
        <h2>Restaurant list</h2>
        <div class="col-md-4" th:each="restaurant : ${restaurant}">
            <div class="card mb-4 shadow-sm">
                <a th:href="@{/restaurants/{id}(id=${restaurant.getId()})}"
                   th:text="${restaurant.getName()}">user</a>
                <div th:switch="${restaurant.isMealNotExist()}">
                    <div th:case="false">
                        <div th:switch="${restaurant.isMenuNotExist()}">
                            <div th:case="false">
                                <div th:switch="${restaurant.getActiveMenu().getWasted()}">
                                    <a th:case="true" style="color:#FF0000;"
                                       th:href="@{/restaurants/{id}/upsert_menu(id=${restaurant.getId()}, status='old')}"
                                       th:text="'Menu is out of date'">user</a>
                                    <div th:case="false">
                                        <div th:switch="${restaurant.isNoActiveMeal()}">
                                            <a th:case="false" style="color:#1ce50e;"
                                               th:href="@{/meals/{id}/upsert_menu(id=${restaurant.getId()}, status='okay')}"
                                               th:text="'Menu is fresh'">user</a>
                                            <a th:case="true" style="color:#FF0000;"
                                               th:href="@{/meals/{id}/upsert_menu(id=${restaurant.getId()}, status='okay')}"
                                               th:text="'Menu doesn`t have any meal'">user</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div th:case="true">
                                <a style="color:#FF0000;"
                                   th:href="@{/restaurants/{id}/upsert_menu(id=${restaurant.getId()}, status='false')}"
                                   th:text="'Menu is not exist'">user</a>
                            </div>
                        </div>
                    </div>
                    <div th:case="true">
                        <a style="color:#FF0000;" th:href="@{/meals/create}"
                           th:text="'No meal exist'">user</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<hr/>
</body>
</html>