<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create meal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/objs.css}">
</head>
<body>
<nav th:insert="meals/menu.html :: nav"></nav>

<div class="input-form">
    <form th:method="POST" th:action="@{/meals}" th:object="${meal}">
        <label for="name" class="form-label">Ресторан</label>
        <div class="input-group">
            <select th:name="restrId" class="custom-select" id="inputGroupSelect04">
                <option selected >Choose Restaurant...</option>
                <option th:each="restaurant : ${restaurant}" th:value="${restaurant.getId()}" th:text="${restaurant.getName()}">One</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" th:field="*{name}" class="form-control" id="name" aria-describedby="Meal name">
            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Price</label>
            <input type="text" th:field="*{price}" class="form-control" id="price" aria-describedby="Meal price">
        </div>

        <button type="submit" class="btn btn-success">Create</button>
    </form>
</div>
</body>
</html>