<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurants</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<!-- Navigation -->
<nav th:insert="meals/menu.html :: nav"></nav>

<main class="container">
    <div class="bg-light p-5 rounded mt-3">
        <h1>Meal Control</h1>
        <a class="btn btn-primary" href="/meals/create" role="button">Create</a>
    </div>
</main>
<div class="album py-5 bg-black">
    <div class="container">
        <h2>Meal list</h2>
        <div class="col-md-4" th:each="meal : ${meal}">
            <div class="card mb-4 shadow-sm">
            <a th:href="@{/meals/{id}(id=${meal.getId()})}"
               th:text="${meal.getName()}">user</a>
            </div>
        </div>
    </div>
</div>

<br/>
<hr/>

</body>
</html>