<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav th:insert="meals/menu.html :: nav"></nav>
<div class="input-form">

    <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Information</span>
        </h4>
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0" th:text="${restaurantOwn.getName()}">Product name</h6>
                    <small class="text-muted">Restaurant</small>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0" th:text="${meal.getId()}">Product name</h6>
                    <small class="text-muted">Id</small>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0" th:text="${meal.getName()}">Second product</h6>
                    <small class="text-muted">Meal</small>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0" th:text="${meal.getPrice()}">Second product</h6>
                    <small class="text-muted">Price</small>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <form th:method="DELETE" th:action="@{/meals/{id}/delete(id=${meal.getId()})}">
                        <input class="btn btn-warning" type="submit" value="Delete"/>
                    </form>
                </div>
            </li>
        </ul>

        <div class="card p-3">
            <a class="btn btn-primary" th:href="@{/meals/{id}/edit(id=${meal.getId()})}" role="button">Обновить</a>

            <a class="btn btn-secondary" th:href="@{/meals/}" role="button">Назад</a>
        </div>

    </div>


</div>
</body>
</html>