<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Управление базой данных</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/restaurants}">Рестораны
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/meals}">Блюда
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/users}">Пользователи</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="input-form">

    <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Информация</span>
        </h4>
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0" th:text="${restaurantOwn.getName()}">Product name</h6>
                    <small class="text-muted">Ресторан</small>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0" th:text="${meal.getId()}">Product name</h6>
                    <small class="text-muted">Идентификатор</small>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0" th:text="${meal.getName()}">Second product</h6>
                    <small class="text-muted">Название</small>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <form th:method="DELETE" th:action="@{/meals/{id}/delete(id=${meal.getId()})}">
                        <input class="btn btn-warning" type="submit" value="Delete"/>
                    </form>
                </div>
            </li>
        </ul>

        <div class="card p-3">
            <a class="btn btn-primary" th:href="@{/meals/{id}/edit(id=${meal.getId()})}" role="button">Обновить</a>

            <a class="btn btn-secondary" th:href="@{/meals/}" role="button">Назад</a>
        </div>

    </div>


</div>
</body>
</html>